nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
    @media (max-width: 940px) {
        width: 80%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }
    
    /* Landscape phones and down */
    @media (max-width: 480px) {
        flex-basis: 300px;
        padding: 30px;
    }
    .navItem {
        flex-basis: 22%;
        padding: 25px;
        border-radius: 5px;
        background-color: #3b4445;
        color: whitesmoke;
        text-align: center;
        transition: all 0.5s;
        &:hover {
            background-color: #ee7d3b;
        }
        @media (max-width: 768px) {
            flex-basis: 45%;
            margin-bottom: 25px;
            padding: 15px;
        }
    }
}
