.dailyActivities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #039be5;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
    border-radius: 5px;
    padding: 50px 0;
    h2 {
        color: white;
        margin-bottom: 50px;
        @media (max-width: 768px) {
            text-align: center;
        }
        @media (max-width: 480px) {
            font-size: 1.5rem;
        }
    }
    >p {
        font-size: 2rem;
        color: white;
    }
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    >div{
        flex-basis: 275px;
        padding: 50px;
        background-color: white;
        background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url("./bone-background.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
        border-radius: 5px;
        margin-bottom: 50px;
        h3 {
            color: #3b4445;
            font-size: 3rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 25px;
        }
        p {
            text-align: center;
            margin: 5px 0;
        }
        input {
            margin-left: 10px;
        }
    }
}